*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}
.section__btn-active{
    background: #E130B4 !important;
    color: white;
}
